{{#each onSaleList.promotions}}
    <div class="max-w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex flex-col">
        <img class="rounded-t-lg h-40 object-cover" src="{{book.thumbnail}}" alt="{{book.title}}" />
        <div class="p-5 flex-grow">
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">{{book.title}}</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400 truncate ...">{{book.description}}</p>
            <p class="italic">Author: {{book.author.name}}</p>
            <p class="italic">Publisher: {{book.publisher.name}}</p>
            <p class="font-semibold">Flash Sale: <span class="text-xl text-green-600">{{this.discountFlashSale}}%</span></p>
        </div>
        <div class="p-2 rounded-md bg-green-100 mt-auto mx-4 mb-4">
            <p class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                {{type}}
            </p>
            <p class="font-semibold">Start date: <span class="text-red-600">{{formatDate startDate}}</span></p>
            <p class="font-semibold">End date: <span class="text-red-600">{{formatDate endDate}}</span></p>
        </div>
        <div class="flex justify-center items-center gap-2 mb-2">
            <div data-modal-target="popup-modal" data-modal-toggle="popup-modal" class="cursor-pointer p-2 flex justify-center items-center hover:bg-red-100 hover:rounded-md" onclick="setPromotionId('{{this.id}}')">
                <img src="/img/icon/delete.svg" alt="Delete">
            </div>
            <a class="hover:bg-blue-100 p-2 flex justify-center items-center hover:rounded-md" href="/admin/promotion/update/{{id}}">
                <img src="/img/icon/edit.svg" alt="Edit">
            </a>
        </div>
    </div>
{{/each}}
<!-- Modal -->
<div id="popup-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="p-4 md:p-5 text-center">
                <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                </svg>
                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to delete?</h3>
                <button data-modal-hide="popup-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center" onclick="window.location.href='/admin/promotion/delete/' + document.getElementById('promotionIdToDelete').value">
                    Yes, I'm sure
                </button>
                <button data-modal-hide="popup-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">No, cancel</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="promotionIdToDelete" value="">
<script>
function setPromotionId(promotionId) {
    document.getElementById('promotionIdToDelete').value = promotionId;
}
</script>