{{#> app}}
  {{#*inline "content"}}
  <div class="container py-4 min-h-[calc(100vh-180px)] px-3">
    <h1 class="font-bold text-2xl text-blue-500 text-center mb-2">MANAGE PROMOTION PAGE</h1>
    {{!-- STATISTIC --}}
    <div class="flex justify-center gap-3 my-3">
      {{!-- <div class="shadow-md p-6 bg-red-50 text-center w-[250px]">
        <h2 class="font-bold text-xl uppercase text-red-600">Total Promotion</h2>
        <p class="font-semibold text-4xl">{{statistic.totalPromotions}}</p>
      </div> --}}
      <div class="shadow-md p-6 bg-green-50 text-center w-[250px]">
        <h2 class="font-bold text-xl uppercase text-green-600">On Sale</h2>
        <p class="font-semibold text-4xl">{{statistic.onSale}}</p>
        <p>Expired: <span>{{statistic.onSaleExpired}}</span></p>
      </div>
    </div>
    {{!-- ACTION --}}
    <div class="flex justify-between mb-3 items-center">
      {{!-- TAB --}}
      <div class="ml-[50%] translate-x-[-50%] text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
          <ul class="flex flex-wrap -mb-px">
              <li class="me-2">
                  <a href="/admin/promotion?page={{pagination.currentPage}}&type=SALE" class="{{getTypePromotion this.tab 'SALE'}}">On Sale</a>
              </li>
              <li class="me-2">
                  <a href="/admin/promotion?page={{pagination.currentPage}}&type=RECOMMEND" class="{{getTypePromotion this.tab 'RECOMMEND'}}">Recommend</a>
              </li>
              <li class="me-2">
                  <a href="/admin/promotion?page={{pagination.currentPage}}&type=POPULAR" class="{{getTypePromotion this.tab 'POPULAR'}}">Popular</a>
              </li>
          </ul>
      </div>
      {{!-- PAGINATION --}}
        {{#if (gte pagination.totalPage 2)}}
            <nav class="text-right">
            <ul class="inline-flex -space-x-px text-sm">
                <li>
                    <a href="/admin/promotion?page={{pagination.previousPage}}" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
                    </li>
                <li>
                    <p class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-blue-100 border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{pagination.currentPage}}</p>
                </li>
                <li>
                    <a href="/admin/promotion?page={{pagination.nextPage}}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
                </li>
            </ul>
            </nav>
        {{/if}}
    </div>
    {{!-- ITEMS --}}
    <div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4">
        {{#if (eq this.tab "SALE")}}
            {{> _onSaleList}}
        {{/if}}
        {{#if (eq this.tab "POPULAR")}}
            {{> _popularList}}
        {{/if}}
        {{#if (eq this.tab "RECOMMEND")}}
            {{> _recommendList}}
        {{/if}}
    </div>
  </div>
  {{/inline}}
{{/app}}
