{{#> app}}
  {{#*inline "content"}}
  <div class="container py-4 min-h-[calc(100vh-180px)]">
    <h1 class="font-bold text-2xl text-blue-500 text-center mb-2">MANAGE FEEDBACK PAGE</h1>
    <div class="overflow-x-auto p-4">
        <div class="flex justify-center container">
            <table class="text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 shadow-md sm:rounded-lg">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            ID
                        </th>
                        <th scope="col" class="px-6 py-3">
                            User
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Book
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Content
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Rating
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Created at
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each feedbackList}}
                    <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{id}}
                        </th>
                        <td class="px-6 py-4">
                            {{user.displayName}}
                        </td>
                        <td class="px-6 py-4 flex gap-2 flex-wrap items-center justify-center">
                            <img src={{book.thumbnail}} alt={{book.title}} class="w-10 h-10 object-cover">
                            <p class="font-semibold">{{book.title}}</p>
                        </td>
                        <td class="px-6 py-4">
                            {{content}}
                        </td>
                        <td class="px-6 py-4 review__rating">
                            {{rating}}
                        </td>
                        <td class="px-6 py-4">
                            {{formatDate this.createdAt}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
  </div>
  <script>
  (() => {
      const renderStarRating = (rating) => {
        let starsHTML = '';
        for (let i = 1; i <= 5; i++) {
            if (i <= rating) {
                starsHTML += '<svg class="w-4 h-4 text-yellow-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24"><path d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"/></svg> ';
            } else if (rating > i - 1 && rating < i) {
                starsHTML += '<svg class="w-4 h-4 text-yellow-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M13 4.024v-.005c0-.053.002-.353-.217-.632a1.013 1.013 0 0 0-1.176-.315c-.192.076-.315.193-.35.225-.052.05-.094.1-.122.134a4.358 4.358 0 0 0-.31.457c-.207.343-.484.84-.773 1.375a168.719 168.719 0 0 0-1.606 3.074h-.002l-4.599.367c-1.775.14-2.495 2.339-1.143 3.488L6.17 15.14l-1.06 4.406c-.412 1.72 1.472 3.078 2.992 2.157l3.94-2.388c.592-.359.958-.996.958-1.692v-13.6Zm-2.002 0v.025-.025Z" clip-rule="evenodd"/></svg>';
            } else {
                starsHTML += '<svg class="w-4 h-4 text-yellow-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-width="2" d="M11.083 5.104c.35-.8 1.485-.8 1.834 0l1.752 4.022a1 1 0 0 0 .84.597l4.463.342c.9.069 1.255 1.2.556 1.771l-3.33 2.723a1 1 0 0 0-.337 1.016l1.03 4.119c.214.858-.71 1.552-1.474 1.106l-3.913-2.281a1 1 0 0 0-1.008 0L7.583 20.8c-.764.446-1.688-.248-1.474-1.106l1.03-4.119A1 1 0 0 0 6.8 14.56l-3.33-2.723c-.698-.571-.342-1.702.557-1.771l4.462-.342a1 1 0 0 0 .84-.597l1.753-4.022Z"/></svg>';
            }
        }
        let blockStar = '<div class="flex items-center">' + starsHTML + '</div>'
        return blockStar;
    }

    document.addEventListener('DOMContentLoaded', () => {
        const reviewRatings = document.querySelectorAll('.review__rating');
        reviewRatings.forEach((ratingElement) => {
            const rating = parseInt(ratingElement.innerText);
            if (!isNaN(rating)) {
                ratingElement.innerHTML = renderStarRating(rating);
            } else {
                ratingElement.innerHTML = '<span class="text-red-500">Invalid rating</span>';
            }
        });
    });
})();
</script>

  {{/inline}}
{{/app}}
